PORT=4001
ETHEREUM_CONTRACT_ADDRESS=
ETHEREUM_CONTRACT_OWNER_PRIVATE_KEY=
ETHEREUM_RPC_URL=
ETHEREUM_WALLET_PRIVATE_KEY=
BINANCE_CONTRACT_ADDRESS=
BINANCE_CONTRACT_OWNER_PRIVATE_KEY=
BINANCE_RPC_URL=
BINANCE_WALLET_PRIVATE_KEY=
KLAYTN_CONTRACT_ADDRESS=
KLAYTN_CONTRACT_OWNER_PRIVATE_KEY=
KLAYTN_RPC_URL=
KLAYTN_WALLET_PRIVATE_KEY=